## Classificaation into Classes ?
-  Predicting what class an input belongs to  - thinking credit as a class
-  When logistic Regression is used it can predict handwritten digits or sport, politics, stocks etc.
-  f(x;w) = q(w**t * x) = 1/ 1+e** -w**t*x
-  Uses simoid function which Linear regression to be between 0 and 1, y intercept is 0.5

In [1]:
# Import basic necessities
#CONTINUED
# https://amfam.udemy.com/course/the-data-analyst-bootcamp/learn/lecture/17340402#content
import pandas as pd
import os
import numpy as np

import tensorflow as tf
from tensorflow import keras

from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

import warnings
warnings.filterwarnings('ignore')

In [2]:
drivers_df = pd.read_csv("ready_db/drviers.csv")
drivers_df.head()

   DRIVER_ID  GENDER  CREDIT_SCORE   AGE  VEHICLE_ID
0          1     2.0           824  27.0     7420963
1          2     1.0           824  28.0     7420963
2          3     2.0           666  51.0     7396448
3          4     2.0           666  34.0     6208988
4          5     2.0           824  88.0     6078430

In [3]:
vehicles_df = pd.read_csv("ready_db/vehicles.csv")
vehicles_df.head()

   VEHICLE_ID  YEAR           MAKE                             MODEL
0     1000030  2017  MERCEDES-BENZ               S CLASS MAYBACH 650
1     2005191  2012        PORSCHE   911 CARRERA CARRERA 4/CARRERA 2
2     2005195  2012        PORSCHE           911 CARRERA 4/CARRERA 2
3     2005211  2012        PORSCHE         911 CARRERA S/CARRERA GTS
4     2005213  2012        PORSCHE  911 CARRERA CARRERA S/CARRERA 4S

In [32]:
#drop only index colum which is Driver id
drivers_df = drivers_df.dropna()
drivers_df = drivers_df.drop(columns='DRIVER_ID')
drivers_df.head()

   GENDER  CREDIT_SCORE   AGE  VEHICLE_ID
0     2.0           824  27.0     7420963
1     1.0           824  28.0     7420963
2     2.0           666  51.0     7396448
3     2.0           666  34.0     6208988
4     2.0           824  88.0     6078430

In [36]:
# Remove creadit score outcome target from fetures data
y = drivers_df['CREDIT_SCORE']
X = drivers_df.drop(columns='CREDIT_SCORE')

from sklearn.linear_model import LinearRegression
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [37]:
# Fitting Polynomial Regression to the data set
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt

model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [42]:
# Setup the first data as input
test_data = np.array([1,27,7420963])
test_data = test_data.reshape(-1, 3)
test_data = test_data.astype(float)

In [43]:
# Try the first data outcome - actual score is 824 - a bit off
model.predict(test_data)[0]

768.040832355666