### DATA CLEANING also known as DATA SCRUBBING

    - Import Data From the phase 2   - converting DOB to age has multiple problems running big (sample was okay)
    - Found simple to replaced it and avoid to go through it again, Phase 3 is created
    - Rest purpose is the same from phase 2, ultimate goal of fitting it to the our model

## 1. Import Data

In [127]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [130]:
# The data has driver ids that are cumbersome, which regular index can do,  only meaningful for the actal policies
# Think driver id represents as each driver vehicle id as each represent each vehicle
drivers_file = "cleaned_data/drivers.csv"

In [131]:
# Retreive the data from previous saved as a CSV file 
drivers_df = pd.read_csv(drivers_file)
drivers_df.head()

   DRIVER_ID  GENDER CREDIT_SCORE  VEHICLE_ID  AGE
0  104132812       2          824     7399455   32
1  104132854       2          824     6078430   88
2  104132876       2          750     6212210   34
3  104132895       2          750     7416184   22
4  104132907       2          824     6078430   88

In [133]:
# Check coloume names - it had a space before, make sure it is checked
drivers_df.columns = [c.upper().replace(' ', '_') for c in drivers_df.columns]
drivers_df.columns

Index(['DRIVER_ID', 'GENDER', 'CREDIT_SCORE', 'VEHICLE_ID', 'AGE'], dtype='object')

In [135]:
# Replace Driver ID to increased index id - remember, it only represent a person and a person is hidden 
# No duplicate of person

drivers_df["DRIVER_ID"] = np.arange(1, len(drivers_df) + 1)
drivers_df = drivers_df.assign(Index=range(len(drivers_df))).set_index('DRIVER_ID')
drivers_df.drop(drivers_df.columns[len(drivers_df.columns)-1], axis=1, inplace=True)

drivers_df.head()

           GENDER CREDIT_SCORE  VEHICLE_ID  AGE
DRIVER_ID
1               2          824     7399455   32
2               2          824     6078430   88
3               2          750     6212210   34
4               2          750     7416184   22
5               2          824     6078430   88

In [137]:
drivers_df.to_csv("cleaned_data/drivers.csv", index=True)

In [ ]:
# Rename phase 2 driver file to : drivers_old.csv