In [79]:
# import basic libraries
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [80]:
# import previously cleaned data
drivers_df = pd.read_csv("ready_db/drviers.csv", index_col = 0)
vehicles_df = pd.read_csv("ready_db/vehicles.csv", index_col = 0)
mapper_df = pd.read_csv("ready_db/mapper.csv", index_col = 0)

In [81]:
new_drivers_df =  pd.merge(drivers_df, mapper_df, left_index = True, right_index = True)
new_drivers_df.head()

           GENDER  CREDIT_SCORE   AGE  VEHICLE_ID
DRIVER_ID
85854409      2.0           824  27.0     7420963
85854409      1.0           824  28.0     7420963
85854448      2.0           666  51.0     7396448
85854454      2.0           666  34.0     6208988
85854553      2.0           824  88.0     6078430

In [82]:
# Check coloume names - it has a space
new_drivers_df.columns = [c.upper().replace(' ', '_') for c in new_drivers_df.columns]
new_drivers_df.columns

Index(['GENDER', 'CREDIT_SCORE', 'AGE', 'VEHICLE_ID'], dtype='object')

In [83]:
new_drivers_df["DRIVER_ID"] = np.arange(1, len(new_drivers_df) + 1)
new_drivers_df = new_drivers_df.assign(Index=range(len(new_drivers_df))).set_index('DRIVER_ID')
new_drivers_df.drop(new_drivers_df.columns[len(new_drivers_df.columns)-1], axis=1, inplace=True)

In [86]:
new_drivers_df.head()

           GENDER  CREDIT_SCORE   AGE  VEHICLE_ID
DRIVER_ID
1             2.0           824  27.0     7420963
2             1.0           824  28.0     7420963
3             2.0           666  51.0     7396448
4             2.0           666  34.0     6208988
5             2.0           824  88.0     6078430

In [87]:
new_drivers_df.to_csv("ready_db/drviers.csv", index=True)