In [1]:
import pandas as pd
drivers_df = pd.read_csv("cleaned_data/drivers.csv")

In [2]:
drivers_df.head()

   Unnamed: 0  DRIVER_ID  GENDER  CREDIT_SCORE  VEHICLE_ID  AGE
0           0          1       2         824.0     7399455   32
1           1          2       2         824.0     6078430   88
2           2          3       2         750.0     6212210   34
3           3          4       2         750.0     7416184   22
4           4          5       2         824.0     6078430   88

In [3]:
drivers_df['CREDIT_SCORE'] = pd.to_numeric(drivers_df['CREDIT_SCORE'], errors='coerce')

In [4]:
drivers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8657405 entries, 0 to 8657404
Data columns (total 6 columns):
 #   Column        Dtype
---  ------        -----
 0   Unnamed: 0    int64
 1   DRIVER_ID     int64
 2   GENDER        int64
 3   CREDIT_SCORE  float64
 4   VEHICLE_ID    int64
 5   AGE           int64
dtypes: float64(1), int64(5)
memory usage: 396.3 MB

In [5]:
# All this clean still  credit shows the NAN field - I wonder what happened.
# Total size of the data (8657405) - total NAN credit field (33456), isn't bad
# So, drop the NAN

check_for_nan =drivers_df[drivers_df['CREDIT_SCORE'].isnull() ==True]
print (check_for_nan)
drivers_df = drivers_df.dropna(subset = ['CREDIT_SCORE'])

         Unnamed: 0  DRIVER_ID  GENDER  CREDIT_SCORE  VEHICLE_ID  AGE
2735           2735       2736       2           NaN     6801790   44
4022           4022       4023       1           NaN     6004314   57
4023           4023       4024       1           NaN     6004314   23
4024           4024       4025       2           NaN     6344957   44
4297           4297       4298       2           NaN     6801792   23
...             ...        ...     ...           ...         ...  ...
8656607     8656607    8656608       1           NaN     6621476   27
8656787     8656787    8656788       1           NaN     6621476   56
8656791     8656791    8656792       2           NaN     6621476   52
8656792     8656792    8656793       1           NaN     6621476   30
8656819     8656819    8656820       1           NaN     6114738   67

[33456 rows x 6 columns]

Unnamed: 0      0
DRIVER_ID       0
GENDER          0
CREDIT_SCORE    0
VEHICLE_ID      0
AGE             0
dtype: int64

In [6]:
drivers_df.isna().sum()

Unnamed: 0      0
DRIVER_ID       0
GENDER          0
CREDIT_SCORE    0
VEHICLE_ID      0
AGE             0
dtype: int64

In [7]:
drivers_df.to_csv("cleaned_data/drivers.csv", index=True)

In [ ]:
# Credit score had non-numberic values