In [26]:
import json
import pandas as pd
import os

In [27]:
# Get working directory.
os.getcwd()

'C:\\Users\\Daniel\\Desktop\\CLASS MASTER FILE\\Final Project\\WashUProject_SDT\\data\\clean_vehicle_data'

In [28]:
# Change directory to where data is stored outside local git repository.
os.chdir(r"C:\Users\Daniel\Desktop\CLASS MASTER FILE\Final Project\WashUProject_SDT\data\clean_vehicle_data")

In [29]:
f = pd.read_csv('vehicle_data.csv')

In [30]:
f.head()

   Unnamed: 0  VEHICLE_ID  YEAR     MAKE                             MODEL
0           0     2005295  2012  PORSCHE  911 CARRERA CARRERA S/CARRERA 4S
1           1     2005295  2012  PORSCHE  911 CARRERA CARRERA S/CARRERA 4S
2           2     2005295  2012  PORSCHE  911 CARRERA CARRERA S/CARRERA 4S
3           3     4000020  2011    DODGE        DAKOTA CC BIGHORN/LONESTAR
4           4     4000020  2011    DODGE        DAKOTA CC BIGHORN/LONESTAR

In [69]:
array = (['ACURA', 'ALFA ROMEO', 'ASTON MARTIN', 'AUDI',
'BENTLEY', 'BMW', 'BUGATTI', 'BUICK', 'CADILLAC', 'CHEVROLET',
'CHRYSLER', 'DODGE', 'FERRARI', 'FIAT', 'FISKER/KARMA AUTOMOTIVE',
'FORD', 'FREIGHTLINER', 'GENESIS', 'GMC', 'HONDA', 'HYUNDAI',
'INFINITI', 'JAGUAR', 'JEEP', 'KARMA AUTOMOTIVE', 'KIA', 'LAMBORGHINI',
'LAND ROVER', 'LEXUS', 'LINCOLN', 'LOTUS', 'MASERATI', 'MAYBACH', 
'MAZDA', 'MCLAREN', 'MERCEDES-BENZ', 'MERCURY', 'MINI', 'MITSUBISHI',
'NISSAN', 'PONTIAC', 'PORSCHE', 'RAM', 'ROLLS ROYCE', 'SAAB', 'SATURN',
'SCION', 'SMART', 'SUBARU', 'SUZUKI', 'TESLA', 'TOYOTA', 'VOLKSWAGEN', 'VOLVO'])

array[1]

'ALFA ROMEO'

In [72]:
import pandas as pd
# Create the cars DataFrame. 
# Used to populate js.dropdown selection lists
# ["VEHICLE_ID","YEAR","MAKE", "MODEL""HasMatch","DRIVER_ID","GENDER","CREDIT_SCORE","AGE"]
vehicle_data = pd.read_csv("vehicle_data.csv")
cars_df = vehicle_data


array = ['ACURA', 'ALFA ROMEO', 'ASTON MARTIN', 'AUDI',
'BENTLEY', 'BMW', 'BUGATTI', 'BUICK', 'CADILLAC', 'CHEVROLET',
'CHRYSLER', 'DODGE', 'FERRARI', 'FIAT', 'FISKER/KARMA AUTOMOTIVE',
'FORD', 'FREIGHTLINER', 'GENESIS', 'GMC', 'HONDA', 'HYUNDAI',
'INFINITI', 'JAGUAR', 'JEEP', 'KARMA AUTOMOTIVE', 'KIA', 'LAMBORGHINI',
'LAND ROVER', 'LEXUS', 'LINCOLN', 'LOTUS', 'MASERATI', 'MAYBACH', 
'MAZDA', 'MCLAREN', 'MERCEDES-BENZ', 'MERCURY', 'MINI', 'MITSUBISHI',
'NISSAN', 'PONTIAC', 'PORSCHE', 'RAM', 'ROLLS ROYCE', 'SAAB', 'SATURN',
'SCION', 'SMART', 'SUBARU', 'SUZUKI', 'TESLA', 'TOYOTA', 'VOLKSWAGEN', 'VOLVO']

In [81]:
df = cars_df["MODEL"]
df2 = cars_df["MAKE"])

data = cars_df

SyntaxError: invalid syntax (2051866179.py, line 2)

In [79]:
df

0         911 CARRERA CARRERA S/CARRERA 4S
1         911 CARRERA CARRERA S/CARRERA 4S
2         911 CARRERA CARRERA S/CARRERA 4S
3               DAKOTA CC BIGHORN/LONESTAR
4               DAKOTA CC BIGHORN/LONESTAR
                        ...
571574                          LAND ROVER
571575                          LAND ROVER
571576                          LAND ROVER
571577                         LAMBORGHINI
571578                         LAMBORGHINI
Length: 1143158, dtype: object