In [2]:
#Dependencies
import pandas as pd
import nltk
import os
import pandas as pd
import numpy as np

In [15]:
os.getcwd()

'C:\\Users\\Daniel\\Desktop\\CLASS MASTER FILE\\Final Project\\WashUProject_SDT'

In [16]:
os.chdir(r"C:\\Users\\Daniel\\Desktop\\CLASS MASTER FILE\\Final Project\\data")

In [21]:
# Target data set
#xl_file = "./data/vehicles.xlsx"

# application
vehicle_table = pd.read_csv("vehicles_new.csv")
driver_table = pd.read_csv("drivers_new.csv")

In [22]:
# Read excel data in as a df
# data = pd.read_excel(xl_file)
# data.head()

# application
data = vehicle_table
data.head()

   VEHICLE_ID  YEAR           MAKE                             MODEL
0     1000030  2017  MERCEDES-BENZ               S CLASS MAYBACH 650
1     2005191  2012        PORSCHE   911 CARRERA CARRERA 4/CARRERA 2
2     2005195  2012        PORSCHE           911 CARRERA 4/CARRERA 2
3     2005211  2012        PORSCHE         911 CARRERA S/CARRERA GTS
4     2005213  2012        PORSCHE  911 CARRERA CARRERA S/CARRERA 4S

In [23]:
# See all manufacturer names
print(data["MAKE"].unique())

['MERCEDES-BENZ' 'PORSCHE' 'DODGE' 'SUBARU' 'NISSAN' 'ACURA' 'HONDA'
 'CHRYSLER' 'FIAT' 'JEEP' 'RAM' 'FORD' 'CHEVROLET' 'PONTIAC' 'BUICK'
 'CADILLAC' 'GMC' 'LINCOLN' 'MERCURY' 'TOYOTA' 'VOLKSWAGEN' 'WHEEGO'
 'MAZDA' 'HYUNDAI' 'SUZUKI' 'LEXUS' 'SAAB' 'SATURN' 'KIA' 'SCION'
 'INFINITI' 'MITSUBISHI' 'BMW' 'VPG/MOBILITY VENTURES' 'CODA'
 'MOBILITY VENTURES' 'TESLA' 'AM GENERAL' 'GENESIS' 'VOLVO' 'JAGUAR'
 'LAND ROVER' 'MCLAREN' 'ROLLS ROYCE' 'BENTLEY' 'LOTUS' 'ASTON MARTIN'
 'AUDI' 'BUGATTI' 'FREIGHTLINER' 'MAYBACH' 'SMART' 'MINI'
 'FISKER/KARMA AUTOMOTIVE' 'MASERATI' 'ALFA ROMEO' 'FERRARI' 'LAMBORGHINI'
 'KARMA AUTOMOTIVE']

In [31]:
# Sort names alphabetically by Manufacturer, rename columns
df_sorted = data.sort_values("MAKE")
#df_sorted = df_sorted.rename(columns={'Model Year': 'Year', 'Manufacturer Name': 'Make'})

# Create Df for target manufacturer (alphabetically, Acura is first)
makes_array = df_sorted["MAKE"].unique()

In [32]:
makes_array

array(['ACURA', 'ALFA ROMEO', 'AM GENERAL', 'ASTON MARTIN', 'AUDI',
       'BENTLEY', 'BMW', 'BUGATTI', 'BUICK', 'CADILLAC', 'CHEVROLET',
       'CHRYSLER', 'CODA', 'DODGE', 'FERRARI', 'FIAT',
       'FISKER/KARMA AUTOMOTIVE', 'FORD', 'FREIGHTLINER', 'GENESIS',
       'GMC', 'HONDA', 'HYUNDAI', 'INFINITI', 'JAGUAR', 'JEEP',
       'KARMA AUTOMOTIVE', 'KIA', 'LAMBORGHINI', 'LAND ROVER', 'LEXUS',
       'LINCOLN', 'LOTUS', 'MASERATI', 'MAYBACH', 'MAZDA', 'MCLAREN',
       'MERCEDES-BENZ', 'MERCURY', 'MINI', 'MITSUBISHI',
       'MOBILITY VENTURES', 'NISSAN', 'PONTIAC', 'PORSCHE', 'RAM',
       'ROLLS ROYCE', 'SAAB', 'SATURN', 'SCION', 'SMART', 'SUBARU',
       'SUZUKI', 'TESLA', 'TOYOTA', 'VOLKSWAGEN', 'VOLVO',
       'VPG/MOBILITY VENTURES', 'WHEEGO'], dtype=object)

In [ ]:
#Create a for loop that separates the data into makes and counts the number of results for each

#For each make in the data
for make in makes_array:

In [11]:
acura_df.head()

       VEHICLE_ID  YEAR   MAKE                   MODEL
55792     7503619  2021  ACURA     RDX ADVANCE PACKAGE
620       6000544  2013  ACURA  RDX TECHNOLOGY PACKAGE
621       6000545  2016  ACURA  RDX TECHNOLOGY PACKAGE
622       6000546  2013  ACURA  RDX TECHNOLOGY PACKAGE
623       6000547  2014  ACURA  RDX TECHNOLOGY PACKAGE

In [12]:
# Show the number of rows to refer to check our work later.
len(acura_df)

385

In [14]:
# Find all unique names listed for models
acura_df.MODEL.unique()

array(['RDX ADVANCE PACKAGE', 'RDX TECHNOLOGY PACKAGE', 'TL',
       'MDX TECHNOLOGY PACKAGE', 'MDX ADVANCE PACKAGE', 'TL SE',
       'TL TECHNOLOGY PACKAGE', 'TL ADVANCE PACKAGE', 'NSX',
       'ILX TECHNOLOGY PACKAGE', 'ILX 2.0 PREM. PACKAGE',
       'ILX 2.4 PREM. PACKAGE', 'ILX', 'ILX SPECIAL EDITION',
       'ILX PREM./TECH PLUS', 'ILX PREM/TECH PLUS/A-SPEC',
       'ILX PREM. PACKAGE', 'ILX PREM./TECHNOLOGY A-SPC',
       'TLX TECHNOLOGY PACKAGE', 'TLX V6', 'TLX V6 TECHNOLOGY PACKAGE',
       'TLX V6 A-SPEC', 'TLX V6 ADVANCE PACKAGE', 'TLX',
       'TLX TECHNOLOGY A-SPEC', 'TLX ADVANCE PACKAGE',
       'MDX ADVANCE PACKAGE+RES', 'RDX', 'MDX TECHNOLOGY PACKAGE+RES',
       'TLX TYPE S', 'ILX PREM./TECHNOLOGY', 'RLX TECHNOLOGY PACKAGE',
       'RLX SPT ADVANCE PACKAGE', 'MDX', 'RDX ADVANCE/PMC EDITION',
       'RDX A-SPEC', 'MDX A-SPEC', 'TLX A-SPEC', 'RLX ADVANCE PACKAGE',
       'RLX SPT TECHNOLOGY PACKAGE', 'RDX A-SPEC ADVANCE/PMC ED.',
       'MDX STD', 'ZDX ADVANCE PACKAGE', 'ZDX TECHNOLOGY PACKAGE',
       'TSX BASE/TECH', 'TSX', 'RLX TECH-AUDIO', 'MDX ELITE', 'TSX V6',
       'TSX V6 TECHNOLOGY PACKAGE', 'TSX TECHNOLOGY PACKAGE', 'RL',
       'RL TECHNOLOGY PACKAGE', 'RL TECHNOLOGY/ADVANCE', 'TSX SE', 'RLX',
       'ZDX', 'RLX NAVIGATION PACKAGE'], dtype=object)

In [16]:
# Split the model names up into single-word tokens and add them to a new column
acura_df['Model_tokenized'] = acura_df.apply(lambda row: nltk.word_tokenize(row['MODEL']), axis=1)
acura_df.head()

E:\Anaconda\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,VEHICLE_ID,YEAR,MAKE,MODEL,Model_tokenized
55792,7503619,2021,ACURA,RDX ADVANCE PACKAGE,"[RDX, ADVANCE, PACKAGE]"
620,6000544,2013,ACURA,RDX TECHNOLOGY PACKAGE,"[RDX, TECHNOLOGY, PACKAGE]"
621,6000545,2016,ACURA,RDX TECHNOLOGY PACKAGE,"[RDX, TECHNOLOGY, PACKAGE]"
622,6000546,2013,ACURA,RDX TECHNOLOGY PACKAGE,"[RDX, TECHNOLOGY, PACKAGE]"
623,6000547,2014,ACURA,RDX TECHNOLOGY PACKAGE,"[RDX, TECHNOLOGY, PACKAGE]"

In [17]:
# list 
acura_df.Model_tokenized.explode().unique()

array(['RDX', 'ADVANCE', 'PACKAGE', 'TECHNOLOGY', 'TL', 'MDX', 'SE',
       'NSX', 'ILX', '2.0', 'PREM', '.', '2.4', 'SPECIAL', 'EDITION',
       'PREM./TECH', 'PLUS', 'PREM/TECH', 'PLUS/A-SPEC',
       'PREM./TECHNOLOGY', 'A-SPC', 'TLX', 'V6', 'A-SPEC', 'PACKAGE+RES',
       'TYPE', 'S', 'RLX', 'SPT', 'ADVANCE/PMC', 'ED', 'STD', 'ZDX',
       'TSX', 'BASE/TECH', 'TECH-AUDIO', 'ELITE', 'RL',
       'TECHNOLOGY/ADVANCE', 'NAVIGATION'], dtype=object)

In [18]:
#Make a list of model names without trim packages
acura_models = ['ILX', 'MDX', 'NSX', 'RDX', 'RL', 'RLX', 'TL', 'TLX', 'TSX', 'ZDX']
tokenized_models = acura_df["Model_tokenized"] 
clean_models = []

# 1.) For each dirty tokenized model name in the array
for item in tokenized_models:
    
    # 2.) Iterate through the list of model names  
    for model in acura_models:
        
        # 3.) If the model name is present, add it to an ordered list of clean model names.
        if model in item:
            clean_models.append(model)

In [19]:
# Check the length of the array to make sure it matches the orig. length of the Df
len(clean_models)

385

In [20]:
# Set the dirty model name equal to the clean name at the corresponding index.
acura_df['MODEL'] = clean_models

E:\Anaconda\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [21]:
# Drop Tokenized row
acura_df.drop(["Model_tokenized"], axis=1)

       VEHICLE_ID  YEAR   MAKE MODEL
55792     7503619  2021  ACURA   RDX
620       6000544  2013  ACURA   RDX
621       6000545  2016  ACURA   RDX
622       6000546  2013  ACURA   RDX
623       6000547  2014  ACURA   RDX
...           ...   ...    ...   ...
24505     7017070  2014  ACURA   MDX
24486     7016990  2012  ACURA   ZDX
24510     7017075  2014  ACURA   MDX
24484     7016988  2010  ACURA   ZDX
24307     7015306  2013  ACURA   MDX

[385 rows x 4 columns]

In [25]:
# Save the clean data as a .csv file
os.makedirs('WashUProject_SDT/data/clean_vehicle_data', exist_ok=True)
acura_df.to_csv('data/clean_vehicle_data/driver_data.csv', index=False)